<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <!-- // - tells him k html load krna h vrna same as js dal rahe h vo toh -->
    <%- include('common/header');%>
    <h1>THis is a login page</h1>
</body>
</html>